h1{
    color: white;
    background-color:black;
    text-align: center;
}
i{
    color: blue;
    position: absolute;
    left: 630px;
    bottom: 700px;
}
i:hover{
    color: yellow;
}
p{
    padding: 20px;
    text-align: justify;
}